<h1>Statistiques</h1>
<table *ngIf="stats$ | async as stats; else nostat">
  <thead>
    <tr>
      <th>Année</th>
      <th>Mois</th>
      <th>Parties gagnées</th>
      <th>Parties perdues</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stat of stats">
      <td>{{stat.annee}}</td>
      <td>{{stat.mois | number: '2.0'}}</td>
      <td>{{stat.nbPartiesGagnees}}</td>
      <td>{{stat.nbPartiesPerdues}}</td>
    </tr>
  </tbody>
</table>
<ng-template #nostat>
  <h2>Aucune stat à afficher</h2>
</ng-template>
